
  .title{
    text-align: center;
    margin-top: 25px;
  }

  .form{
      margin: auto;
      max-width:400px;
      text-align: center
  }

  input[type='submit'], button, [aria-label]{
    cursor: pointer;
  }
  #edit-box{
    display: none;
    max-width: 80%;
    margin: auto;
    margin-top: 10px;
  }

  td {
    padding: 10px;
    background-color: aliceblue;
    padding-right: 10px;
    text-align: left;
    vertical-align: middle;
    max-width: 300px;
    word-wrap: break-word;
}

table {
    width: 100%;
    margin-top: 20px;
}

button {
    cursor: pointer;
}
